*  {
    margin: 0;
    padding: 0;
}

/* Colors

Royal Blue	#4e76e8	Primary
Astronaut	#2b376d	Info
Aqua Forest	#4d9e7e	Success
Tussock	#ca8e46	Warning
Pomegranate	#f44336	Danger 


Light = #F7F2F0 - Spring Wood
Light Accent = #80B8DD - Viking
Main = #4C73EB - Royal Blue
Dark Accent = #8B7284 - Mountbatten Pink
Dark = #2B376D - Astronaut

*/

body {
    font-family: Arial, sans-serif;
    background-color: #2B376D;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background: linear-gradient(to bottom, black, rgba(43, 55, 109));
}

header i {
    padding: 5px;
}

header .navbar-nav {
    flex-direction: row;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #80B8DD;
    width: 0%;
    height: 4px;
    transition: all 0.3s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.navbar .nav-link {
    padding: 0.3rem;
    color: #F7F2F0;
}

.navbar .nav-link:hover {
    color: #80B8DD;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 10px #2B376D);
    filter: drop-shadow(5px 5px 10px #2B376D);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link i{
    font-size: 1.5rem;
    color: #F7F2F0;
    margin: 0 0.3rem;
    transition: all 0.3s;
}

/* LIVE CHAT */

.live-chat {
    z-index: 999;
    left: 0;
}

/* FOOTER */

footer {
    background: linear-gradient(to top, black, #2B376D);    
    position: sticky;
    align-self: flex-end;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    clear:both;
}

footer p {
    margin: 0;
    padding: 3px;
}

footer a {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    color: #F7F2F0;
}

footer h5 {
    margin: 0;
    padding: 3px;
    line-height: 0.2rem;
}

footer .navbar-brand img {
    height: 50px;
    width: auto;
}

footer button{
    text-decoration: wavy;
    font-style: italic;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}

/* 401 and 404 */

.not-auth-found{
    margin-top: 15dvh;
    text-align: center;
    color: #F7F2F0;
}

/* LOGIN BOX */

.login-box {
    width: 100%;
    flex-grow: 1;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10dvh;
    padding: 20px;
    background-color: #2B376D;
    border: 2px solid #ca8e46;
    border-radius: 15px;
    transition: all 0.5s;
}

.login-box:focus-within {
    box-shadow: 2px 2px 30px #F7F2F0a0;
    transition: 0.5s;
}

.login-box input[type="email"],
.login-box input[type="password"],
.login-box input[type="number"],
.login-box input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ca8e46;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.login-box .login-button {
    width: 100%;
    padding: 10px;
    background-color: #4e76e8;
    color: #F7F2F0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.login-box input[type="checkbox"] {
    background-color: #F7F2F0;
}

.login-box label.form-check-label {
    color: #F7F2F0;
}

.login-box input[type="checkbox"]:hover {
    background-color: #ca8e46;
    transition: all 0.5s;
}

.login-box input[type="checkbox"]:checked {
    background-color: #ca8e46;
}

.login-box .login-button:hover {
    background-color: #ca8e46;
    transition: all 0.5s;
}

.login-box label {
    color: #2b376d;
}

.slow-fade {
    width: 100%;
    transition: all 0.5s ease-in-out !important;
}

.show {
    opacity: 1;
    transition: all 0.5s ease-in-out !important;
}

.input-carousel {
    height: calc(3.5rem + 2px);
}

.login-box .btn-primary:disabled {
    box-shadow: 0 0 0 0.2rem #ca8e46;
    background-color: #ca8e46;
    border-color: #ca8e46;
    opacity: 1;
    transition: all 0.3s ease-in-out !important;
}

/* CARDS */

.service-card {
    transition: 0.3s;
    width: 16rem;
    height: auto;
    background-color: #F7F2F0;
}

.service-card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.service-card img {
    height: auto;
    object-fit: cover;
}

.service-card .card-title {
    color: #4e76e8;
}

.service-card .card-text {
    color: #2b376d;
}

.btn-primary {
    background-color: #4e76e8;
    border-color: #4e76e8;
}

.btn-primary:hover {
    background-color: #ca8e46;
    border-color: #ca8e46;
}
